@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Quicksand&display=swap');

.App {
  text-align: center;
}

.mainImg {
  border: none;
  position: static;
}
/* actual image from main page */
.imageFrame {
  height: 90vh;
}

.header {
  background-color: #1E0126;
 
}

.navbar {
  background-color: #F2B441;
  height: 10vh;
}


h3 {
  font-size:x-large;
  text-align: center;
  font-family: bookman;
  font-weight: bolder;
  font-style: italic;
  color: #F2B441;
}

.brand {
  font-weight: bolder;
  font-family: 'Quicksand', sans-serif;;
  font-size: xxx-large;
  color: white;
}
#brandName {
  color: #420253;
}

.navLink {
  font-weight: bolder;
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  font-size: x-large;
  border-bottom:#4F0359 solid 2px;
  margin-right: 2vw;
  margin-left: 2vw;
  margin-bottom: 1vh;
}

#navbar a {
  color: #4F0359;
}
#navbar a:hover {
  color: white;
}

.navLink:hover {
  color: white;
}


.main {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  background-color: #1E0126;
  height: 83vh;
}

#mainTitle {
  border-radius: 0px 0px 10px 10px;
}
.rules {
  color: #19FF5A;
  background-color: #1E0126;
  min-height: 60vh ;
  font-family: bookman;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
  min-height: 100vh;
}

.rulecard {
  background-color: #F2B441;
  color:#4F0359;
  width: 60vw;
  margin-top: 2vh;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3em;
  margin-left: auto;
  margin-right: auto;
}

/* .rulesTitle {
  
} */

.currenttask {
  background-color: #1E0126;
  
}

.profile {
  background-color: #1E0126;
  min-height: 90vh;
}

.jumbotron {
  background-color: #F2B441;
  color: #4F0359;
  width: 60%;
  margin: auto;
  border-radius: 10px;
}
.jumbotron h3 {
  color: #4F0359;
  font-size: 2.2em;
  font-family: 'Dosis', sans-serif;
}
.submissionTitle {
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 3vh;
  padding-top: 3.5vh;
}
.newJest {
  color:#F2B441;
  /* padding-bottom: 3vh; */
  padding: 7%;
  margin-right: auto; 
  margin-left: auto;
  width: 70%;
}

/* .newJest form {
  /* width: 80vw; */

.jestBtn {
  color:#F2B441;
  margin-top: 2vh;
}
.btn:disabled {
  opacity: 1;
  background-color: #F2B441;
  color: #1E0126;
}
.jestsTitle {
  color: #F2B441;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

/* ========================================================= */
.headercard{
  background-color: #F2B441;
  border: none;
}

.headImg {
  height: 10vh;
  image-rendering: -webkit-optimize-contrast;
}

#navbar {
  color: white;
}
.hamBox {
  background-color:#F2B441;
  text-align: center;
  z-index: 0;
  
}

div.rulecard.card {
  position: static;
}

/* .hamBox > * {
  z-index: 1;
} */
#hamburgerClick {
  color: white;
  background-color: #F2B441;
  z-index: 1;
  text-align: center;
}